#main {
    width: 960px;
    margin: auto;
    box-sizing: border-box;
}

h1, p {
    text-align: center;
}

table {
    padding: 8px;
    background: #d376f4;
    margin: auto;
    border-spacing: 12px;
}

td {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    text-align: center;
}

.end {
    display: none;
    margin: auto;
    width: 400px;
    height: 140px;
    text-align: center;
    line-height: 10px;
    background: #a53;
    padding: 20px;
    position: absolute;
    top: 200px;
}
